<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<%= @juan %> -->
<!-- <h1>@juan</h1> -->

<form action="/answer" method="get">
  <input type="text" name="user_key">
  <input type="submit">
</form>
